*{
padding: 0;
margin: 0;
font-family:"styles", sans-serif;
}




.banner{
height: 100vh;
width: 100%;
 background-image: linear-gradient(red, yellow),url( 2.jpg);
 background-position: center;
 background-size: cover;
}

.navbar{
display: flex;
width: 90%;
margin: auto;
padding: 32px 0;
align-items: center;
justify-content: space-between;
}

.logo{
cursor: pointer;
border-radius: 50%;



}

.navbar ul li{
list-style-type: none;
display:inline-block ;
margin:0 25px;


}

.navbar ul li a{
text-decoration: none;
color: #DDDDDD;


}

.navbar ul li a:hover{

 box-shadow: 0px 3px #519872;
 transition: 2s;
}

p{
font-size: 20px;

}

.content{
width: 100%;
position: absolute;
top: 40%;
color:#DDDDDD ;
text-align: center;
}

.content  h1{
font-size: 65px;


}

.content p{
margin: 20px   auto;



}

button{
width: 200px;
padding: 15px 0;
 border-radius:35px ;
margin: 20px;
text-align: center;
color: #DDDDDD;
cursor: pointer;
font-weight: 600px;
background-color: #519872;
font-size: 17px;
}


button:hover{
color: #FFD700;
transition: 2s;


}